html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: #171919;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;

}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.headline-left,
 {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  padding-left: 104px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #fff;
  font-size: 22px;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: #fff;
    content: '';
  }
}
.headline-right {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  padding-right: 104px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #fff;
  font-size: 22px;
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 80px;
    height: 1px;
    background-color: #fff;
    content: '';
  }
}
.title {
  position: relative;
  line-height: 156px;
  font-size: 80px;
  font-weight: 800;
}
h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 280px;
   &::before {
    position: absolute;
    top: 30px;
    right: 0;
    width: 80px;
    height: 1px;
    background: #4AF6CD;
    content: '';
  }
  span {
    top: 40%;
    left: -15px; 
  }
}
.surf,
.holder {
  padding-top: 85px;
  padding-bottom: 120px;
}
.holder {
  padding-bottom: 240px;
}
.subtitle {
  display: inline-block;
  padding-right: 85px;
  text-align: right;
  &__head {
    padding-right: 10px;
    font-size: 40px;
    font-weight: 800;
    span {
      font-weight: 100;
    }
  }
}
.descr {
  display: inline-block;
  &__head {
    font-size: 40px;
    font-weight: 800;
    img {
      display: inline-block;
    }
    span {
      font-weight: 100;
    }
}
}
.btn {
  line-height: 45px;
  font-size: 40px;
  font-weight: 800;
  span {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    background-color: $green;
    padding: 17px 57px 17px 20px;
    &::before {
      position: absolute;
      top: 50%;
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: #fff;
      transform: translateY(-50%);
      content: "";
    }
    &::after {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 24px;
      height: 20px;
      background-image: url(../img/arrow-right.svg);
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: '';
    }
  }
}
.quantity {
  display: inline-block;
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  color: #fff;
  background-color: transparent;
  border: none;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 40px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  height: 42px;
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  width: 20px;
  color: $green;
  font-size: 32px;
  top: 45px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;

}

.quantity-button.quantity-up {
  right: 55px;
}

.quantity-button.quantity-down {
  right: 80px;
}