@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header__slider {
  &-item {
    position: relative;
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 130px;
  text-align: right;
}

.slider-item__info-title {
  margin-bottom: 48px;
  line-height: 86px;
  font-size: 80px;
  font-weight: 800;
}

.slider-item__info-suptitle {
  margin-bottom: 15px;
}
.slider-item__info-suptext {
  margin-bottom: 15px;
}

.slider-item__info-text {
  margin-bottom: 20px;
  line-height: 48px;
  font-size: 40px;
  font-weight: 800;
}
.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 5;
}
.slider-arrows__left {
  right: 130px;
  }
  .slider-dots {
    position: absolute;
    right: 50px;
    bottom: 40px;
    min-width: 930px;
    text-transform:none;
    .slick-current {
      .dots-box {
        border-color: $green;
      }
    }
  
  }
 
  .dots-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-top: solid 4px #fff;
    padding-top: 6px;
    &__number {
      font-size: 24px;
      font-weight: 800;
    }
    &__name {
      font-size: 16px;
      font-weight: 300;
    }
  }
  
  .header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, 0.25);
    text-align: center;
}
  .title-back {
    position: absolute;
    opacity: 0.07;
    z-index: 4;
    max-width: 467px;
    line-height: 156px;
    font-size: 200px;
    font-weight: 800;
    
  }
  .header__title {
    top: 0;
    left: 0;
  }
  .header__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  .menu {
    padding-top: 70px;
  }
  .menu__list-item {
    margin-bottom: 25px;
    a {
      span {
        display: block;
        padding-top: 5px;
        text-transform: none;
        line-height: 14px;
        letter-spacing: 3px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .header__date {
    margin-bottom: 30px;
    line-height: 64px;
    font-size: 72px;
    font-weight: 800;
    span {
      display: block;
      padding-top: 17px;
      line-height: 19px;
      letter-spacing: 1.4px;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .header__search {
    margin-bottom: 20px;
  }
  .header__location {
    display: inline-block;
    position: relative;
    padding-left: 19px;
    text-transform: none;
    line-height: 14px;
    letter-spacing: 1.05px;
    font-size: 12px;
    font-weight: 300;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 13px;
      background-image: url(../img/maker.svg);
      content: '';
    }
  }
 
  .header__arrows {
    position: absolute;
    bottom: 40px;
    left: 205px;
    z-index: 3;
    
  }
  //анимация линии в header
  .line-animation {
    animation: animdash 5s infinite 6s;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
  }
  @keyframes animdash {
    to {
      stroke-dashoffset: 0;
    }

  }
.surf {
  background-image: url(../img/surf-bg.svg);
  background-position:  right  160px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 85px;
  padding-bottom: 120px;
  &__subtitle {
    padding-top: 30px;
    text-align: right;
  }
}

.surf-slider {
  padding-top: 110px;
  .slider-arrows {
  opacity: 0.25;
  margin-right: 10px;
  }
  .slick-slide:nth-child(4n+1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n+3) {
    .surf-box {
      margin-top: 89px;
    }
  }
  .slick-current +.slick-slide {
    .surf-box__inner-btn {
      opacity: 1;;
    } 
    .surf-box__inner {
      background: rgba(#1C2121, 0.3); 
    }
   }

}

.surf-box {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    position: relative;
    min-height: 750px;
    background: rgba(#1C2121, 0.85) ;
    transition: all 0.8s;
    &:hover {
      background: rgba(#1C2121, 0.3) ;
      .surf-box__inner-btn {
        opacity: 1;
        transition: all 0.8s;
      } 
    }
    }
    
  }
  .surf-box__inner {
    &-title {
      width: 140px;
      padding: 72px 0 0 40px;
      line-height: 36px;
      font-size: 40px;
      font-weight: 800;
    }
    &-location {
      position: absolute;
      bottom: 90px;
      left: 40px;
      width: 0;
      height: 0;
      transform: rotate(-90deg);
      line-height: 22px;
      letter-spacing: 8px;
      white-space: nowrap;
      color: #FFFFFF;
      font-size: 18px;
      span {
        opacity: 0.75;
        font-weight: 100;
      }
     
    }
    &-btn {
      position: absolute;
      bottom: 0; 
      left: 0;
      left: 45px;
      opacity: 0;
    }
  }
  .slider-dotsmap__content {
    position: absolute;
    bottom: 50px;
    left: -124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    width: 284px;
    min-height: 226px;
    border-radius: 6px;
    background: rgba(#0F1010, 0.7);
    padding: 28px 32px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      border-bottom: 20px solid $green;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      bottom: -33px;
      left: 125px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 800;
      padding-bottom: 8px;
    }
    &-subtitle {
      display: inline-block;
      line-height: 19px;
      font-size: 16px;
      text-transform: capitalize;
      padding-right: 15px;
      padding-top: 8px;
      border-top: 1px solid $green;

    }
    
    &-item {
      text-align: center;
      img {
        display: inline-block;
        margin-bottom: 8px;
      }
    }
    &-number {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 23px;
      font-weight: 800;
      }
    &-name {
      font-size: 10px;
      line-height: 12px;
      font-weight: 300;
    }  
   }
  .slider-map {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../img/world-map-dots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .slick-list {
      min-height: 635px;
      overflow: visible;
    }
    .slick-current {
      .slider-dotsmap__content {
       display: flex;
      }
    }
  }
  .slider-dotsmap {
    display: inline-block;
    position: relative;

  }
  .slider-dotsmap__circle {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 0px 29px rgba($green, 0.23);
    background: $green;
  }
 
  .slider-dotsmap--1 {
    position: absolute;
    top: 315px;
    left: -20px;
  }
  .slider-dotsmap--2 {
    position: absolute;
    top: 294px;
    left: 130px;
    .slider-dotsmap__circle {
      position: relative;
      &::before {
        position: absolute;
        top: -20px;
        left: 30px;
        width: 14px;
        height: 17px;
        background-image: url(../img/mini-marker.svg);
        background-size: cover;
        content: '';

      }
    }
  }
  .slider-dotsmap--3 {
    position: absolute;
    top: 313px;
    left: 330px;
  }
  .slider-dotsmap--4 {
    position: absolute;
    top: 488px;
    left: 430px;
  }
  .slider-dotsmap--5 {
    position: absolute;
    top: 207px;
    left: 540px;
  }
  .slider-dotsmap--6 {
    position: absolute;
    top: 554px;
    left: 640px;
  }
  .slider-dotsmap--7 {
    position: absolute;
    top: 390px;
    left: 800px;
  }
  .slider-dotsmap--8 {
    position: absolute;
    top: 510px;
    left: 1090px;
  }
 
  
  




@import "media";
